{% extends 'main.html' %}

{% block content %}
<main>
  <div class="container">
    <div>
      <div>
        <div>
          <a href="{{ request.META.HTTP_REFERER }}">Back</a>
          <h3>Create/Update Blog Post</h3>
        </div>
      </div>
      <div>
        <form action="" method="POST">
          {% csrf_token %}

          <div>
            <label for="id_title">Title</label>
            {{ form.title }}
          </div>

          <div>
            <label for="id_body">Body</label>
            {{ form.body }}
          </div>

          <div>
            <label for="id_topic">Topic</label>
            {{ form.topic }}
          </div>

          <div>
            <a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
