{% extends 'main.html' %}


{% block content %}
<h1>
    Welcome to the home page
</h1>

        <div>
            <h5>{{ blog_count }} blogs present</h5>
            <a href="{% url 'create-blog' %}">Create Blog</a>
            <hr>
            <div>
                {% for blog in blogs %}
                    <div>
                        {% if request.user == blog.author %}
                            <a href="{% url 'update-blog' blog.id %}">Edit</a>
                            <a href="{% url 'delete-blog' blog.id %}">Delete</a>
                        {% endif %}
                        <span>{{ blog.author.username }}</span>
                        <h2>
                            {{blog.id}} -- <a href="{% url 'blog' blog.id %}">{{ blog.title }}</a>
                        </h2>
                        <small>{{ blog.topic.name }}</small>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
