{% extends 'main.html' %}


{% block content %}
<h1>
    Welcome to the home page
</h1>

<div>
    <a href="{% url 'create-blog' %}">Create Blog</a>
    <div>
        {% for blog in blogs %}
            <a href="{% url 'update-blog' blog.id %}">Edit</a>
            <span>{{ blog.author.username }}</span>
            <h2>
                {{blog.id}} -- <a href="{% url 'blog' blog.id %}">{{ blog.title }}</a>
            </h2>
            <small>{{ blog.topic.name }}</small>
            <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}
